button[data-icon] {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

button:focus, button:focus-within {
  outline-color: var(--blue);
}

button[data-button] {
  color: var(--subtext-1);
  outline: 2px solid transparent;
  margin: 0;
}

button[data-button]:not([data-no-background]) {
  background-color: var(--surface-0);
}

button[data-button]:not(:disabled):hover {
  background-color: var(--surface-1);
  color: var(--subtext-0);
}

button[data-button]:disabled {
  color: var(--subtext-0);
}

button:hover {
  cursor: pointer;
}